</br></br>
<h1 class="center"> List of the last projects </h1>
<h4 class="grey center margin_bottom">This is a list of the last time trackers </h4>
</br></br>
<ul class="left rounded white listnone width300">
	<% @projects.each do |project| %>
	<% if project.description.blank? %>
	<li class="orange left"><%= project.name %>
	<span class="lightgrey"> - No description </span></li>
	<% else %>
	<li class="orange"><%= project.name %><span class="grey"> -
	<%= project.description %></span></li>
	<% end %>
	<% end %>
</ul>
