</br></br><div class="center">
<h1 class="orange">Project: <span class="grey"> <%= @project.name  %></span></h1>
<div class="center white width300 rounded"><h3><%= @project.description %></h3></div>
</div>