<center style="font-family: Lucida Grande;"><h1>Contact page</h1>
<h3 style="font-family: Lucida Grande";> Please leave your contact message </h3>
<h2><a href="mailto:kikeisasi@gmail.com">Send Email </a></h2></center>